{% extends "rideshare/base.html" %}
{% block content %}
<h4>Confirm ride to {{ object.dest }}</h4>
<hr>
<ul class="list-group">
  <li class="list-group-item">Requested arrival time is {{ object.arrival}}</li>
  <li class="list-group-item">Ride owner {{ object.owner }}</li>
  <li class="list-group-item">Requested vehicle type: {{ object.v_type }}</li>
  <li class="list-group-item">Owner's special request: {{ object.user_special }}</li>
</ul>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Confirm</button>
</form>
{% endblock content %}