{% extends "rideshare/base.html" %}
{% block content %}



<h4>Ride to {{ object.dest }}</h4>
<hr>
<ul class="list-group">
    <li class="list-group-item">Requested arrival time is {{ object.arrival}}</li>
    <li class="list-group-item">Ride owner: {{ object.owner }}</li>
    <li class="list-group-item">Ride Status: {{ object.status }}</li>
    {% if object.status == 'confirmed' %}
        <li class="list-group-item">Ride Driver: {{ object.driver }}</li>
    {% endif %}
    <li class="list-group-item">Sharable? {{ object.sharable }}</li>
    <li class="list-group-item">Vehicle type: {{ object.v_type }}</li>
    <li class="list-group-item">Special request: {{ object.user_special }}</li>
</ul>
{% endblock content %}