{% extends "rideshare/base.html" %}
{% block content %}
<h1>Ride to {{ object.dest }}</h1>
<hr>
<h3>Requested arrival time is {{ object.arrival}}<h3> 
<h3>Ride Owner: {{ object.owner }}<h3>
<h3>Ride Status: {{ object.status }}<h3>

{% if object.status == 'confirmed' %}
<h3>Ride Driver: {{ object.driver }}<h3>
{% endif %}

<h3>Sharable? {{ object.sharable }}<h3>
<h3>Vehicle type: {{ object.v_type }}<h3>
<h3>Special request: {{ object.user_special }}<h3>
<br><hr><br>
<a href="{% url 'rideshare:rideedit' object.id %}">Edit</a>
{% endblock content %}