{% extends 'rideshare/base.html' %}

{% block title %}All rides{% endblock %}

{% block content %}
<h4>Rides to Complete</h4>
<hr>
{% for ride in rides %}
    <div class="card" style="width: 28rem;">
    <div class="card-body">
        <h5 class="card-title">Destination {{ ride.dest }}</h5>
        <p class="card-text">Requested arrival time is {{ ride.arrival}}</p>
        <p class="card-text">Ride Owner: {{ ride.owner }}</p>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'rideshare:ridedetail' ride.id %}" role="button">View Detail</a>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'rideshare:ridecomplete' ride.id %}" role="button">Complete</a>
    </div>
    </div>
<br>
{% endfor %}

{% endblock %}