{% extends "admin/base.html" %}
{% block title %}{{ title }} | {{ site_title|default:_('Rideshare') }}{% endblock %}

<div class="sidenav">
  <a href="/Home">Home</a>
  <a href="/singup">Signup</a>
  <a href="/riderequest">Request Ride</a>
</div>

{% block branding %}
<h1 id="site-name"><a href="{% url 'rideshare:login' %}">{{ site_header|default:_('Ride Share') }}</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div align="left">

{% if user.is_authenticated %}
<h2>
<a href="{% url 'rideshare:profile' %}"> | ---- Profile ---- </a>

{% if user.will_drive == True %}
<a href="#"> | ---- Confirm a Ride ---- </a>
<a href="#">  Complete a Ride ---- |</a>
{% endif %}

<a href="{% url 'rideshare:riderequest' %}">  ---- Request a new ride ---- </a>
<a href="{% url 'rideshare:ridesearchsharer' %}">  Join a ride ---- </a>
<a href="{% url 'rideshare:ridelist' %}">  My Rides  ---- |</a>
</h2>
</div>
{% endif %}
{% endblock %}

    
{% block nav-global %}
{% if user.is_authenticated %}
<ul id="nav_out">
Welcome, <strong>{{ user.username }}  |</strong>
<a href="{% url 'rideshare:logout'  %}">  Logout</a>
</ul>
{% else %}
<ul id="nav_in">
<a href="{% url 'rideshare:login'  %}">Login  |</a>
<a href="{% url 'rideshare:signup'  %}">  Signup</a>
</ul>
{% endif %}
{% endblock %}


{% if messages %}
{% for message in messages %}
{{ messages }}
{% endfor %}
{% endif %}

 
  {% block content %}{% endblock %}


