{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Rideshare') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Rideshare Site') }}</a></h1>
{% endblock %}

{% block nav-global %}
<ul id="nav">
<li>{% block welcome-msg %}Welcome,<strong>{% firstof user.get_short_name user.get_username %}</strong>{% endblock %}</li>
<li>{% block nav-logout %}<a href="{% url 'rideshare:logout'  %}">Logout</a>{% endblock %}</li>
</ul>
{% endblock %}

{% block content %}
{% endblock %}
